# Created by https://www.toptal.com/developers/gitignore/api/scala,vscode,metals
# Edit at https://www.toptal.com/developers/gitignore?templates=scala,vscode,metals

### Metals ###
.metals/
.bloop/
project/**/metals.sbt

### Scala ###
*.class
*.log

### vscode ###
.vscode/*

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp

# End of https://www.toptal.com/developers/gitignore/api/scala,vscode,metals
